.container {
  width: minmax(300px, 1fr);
  height: 200px;
  display: grid;
  grid-gap: 10px;
  padding: 2px;
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr;
}

.item{
  height: auto;
  background-color: #eee;
  padding: 5px;
  outline: 1px solid #ccc;

}


/*.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}*/


/*.test1 {
color:#0000FF;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    background: #009246;
    word-wrap:break-word;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background: #009246;
    word-wrap:break-word;
    }*/

